Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

python-check-syntax:
  name: Check Python syntax
  entry: python
  language: system
  args:
  - -m
  - py_compile

python-import-check:
  name: Check Python imports (requires venv)
  entry: bash
  language: system
  args:
  - -c
  ...

validate-cross-package-imports:
  name: Validate no cross-package imports (maintain package independence)
  entry: bash
  language: system
  args:
  - -c
  ...

fix(ci): Serialize Docker builds to avoid runner saturation
  .github/workflows/docker.yml
Due: none

fix(docker): Use --no-deps for pip install to prevent OpenEXR build failure
  Docker/node/node.dockerfile
Due: none

fix(docker): Remove unnecessary ethoscope device package and opencv from node container
  Docker/node/node.dockerfile
Due: none

fix(docker): Add missing Python dependencies to node container
  Docker/node/node.dockerfile
Due: none

fix(docker): Restore mDNS port mapping for device discovery
  Docker/node/docker-compose.yml
Due: none

Add 3D printed case and accessory STL files for ethoscope v1.8/v1.9
  accessories/3D_printed_files/ETHOSCOPE/2.1_etho_v1.8_PI3_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/2.2_etho_v1.8_PI4_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/2.5_etho_v1.8_LED_holder.stl
  accessories/3D_printed_files/ETHOSCOPE/3.1_etho_v1.9_Wall_Stabiliser.stl
Due: none

Replaced with a model that has opening for two screws securing the PI
  accessories/3D_printed_files/ETHOSCOPE/2.1_etho_v1.8_PI3_CASE.stl
Due: none

Adding STL for 3D printing the SD base
  accessories/3D_printed_files/MODULES/1.1-Etho_Module-Common-Base-with-Batteries.stl
Due: none

fix(mAGO): Fix channel validation rejecting channels 10-19
  accessories/hardware/mAGO/mAGO.ino
Due: none

feat(stimulators): Replace flat stimulator list with trigger + action model
  Docker/node/docker-compose.yml
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/stimulators/__init__.py
  src/ethoscope/ethoscope/stimulators/actions.py
  src/ethoscope/ethoscope/stimulators/channel_maps.py
  src/ethoscope/ethoscope/stimulators/composed_stimulator.py
  src/ethoscope/ethoscope/stimulators/odour_stimulators.py
  src/ethoscope/ethoscope/stimulators/optomotor_stimulators.py
  src/ethoscope/ethoscope/stimulators/sleep_depriver_stimulators.py
  src/ethoscope/ethoscope/stimulators/sleep_restriction_stimulators.py
  src/ethoscope/ethoscope/stimulators/triggers.py
  src/ethoscope/ethoscope/tests/unit/test_composed_stimulator.py
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): Display module identity and filter actions by hardware capabilities
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/pages/ethoscope.html
Due: none

fix(scanner): Resolve backup_path showing stale date from old unfinalised database
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(stimulators): Auto-detect module capabilities for channel mapping
  src/ethoscope/ethoscope/stimulators/channel_maps.py
  src/ethoscope/ethoscope/stimulators/composed_stimulator.py
  src/ethoscope/ethoscope/stimulators/triggers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

rename(hardware): Rename mAGO to ethoscope_multimodule to reflect multi-module firmware scope
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
  accessories/hardware/ethoscope_multimodule/test_mago.py
Due: python-check-syntax

chore: Remove QWEN.md, superseded by CLAUDE.md
  QWEN.md
Due: none

feat(firmware): Add Arduino firmware update from ethoscope device
  accessories/install_ethoscope_debian.sh
  src/ethoscope/ethoscope/hardware/interfaces/firmware.py
  src/ethoscope/ethoscope/tests/unit/test_firmware.py
  src/ethoscope/scripts/device_server.py
  src/node/ethoscope_node/api/device_api.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(install): Rewrite installer as step-based script with Trixie compatibility
  .gitignore
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
  accessories/install_ethoscope_debian.sh
  accessories/upgrade_scripts/install_services.sh
Due: none

docs(mAGO): Add SerialCommand library installation instructions
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
Due: none

fix(updater): Self-restart services after successful update
  src/updater/helpers.py
  src/updater/update_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

refactor(firmware): Remove SerialCommand library dependency
  accessories/hardware/etho_sensor/README.md
  accessories/hardware/etho_sensor/config.h
  accessories/hardware/etho_sensor/etho_sensor.ino
  accessories/hardware/etho_sensor/network.cpp
  accessories/hardware/etho_sensor/network.h
  accessories/hardware/etho_sensor/platform.cpp
  accessories/hardware/etho_sensor/platform.h
  accessories/hardware/etho_sensor/sensors.cpp
  accessories/hardware/etho_sensor/sensors.h
  accessories/hardware/etho_sensor/storage.cpp
  accessories/hardware/etho_sensor/storage.h
  accessories/hardware/etho_sensor/structs.h
  accessories/hardware/etho_sensor/virtual_sensor.py
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
  accessories/hardware/ethoscope_multimodule/test_multimodule.py
  accessories/install_ethoscope_debian.sh
Due: python-check-syntax

fix(hostname): Use raspi-config and disable cloud-init to persist hostname
  accessories/install_ethoscope_debian.sh
  src/ethoscope/ethoscope/utils/pi.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): Resolve pre-existing CI/CD failures across all workflows
  .github/workflows/quality.yml
  Docker/node/node.dockerfile
  src/node/tests/unit/api/test_backup_api.py
  src/node/tests/unit/api/test_device_api.py
  src/node/tests/unit/api/test_tunnel_utils.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): Drop Python 3.8 from release workflow
  .github/workflows/release.yml
Due: none

feat(firmware): Add PCB V1.2/V1.3 pin mappings and simplify demo
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
Due: none

fix(frontend): Downgrade ES6+ to ES5 for Midori browser compatibility
  src/ethoscope/ethoscope/stimulators/stimulators.py
  src/node/static/css/main.css
  src/node/static/js/controllers/ethoscopeBackupService.js
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/ethoscopeDirectives.js
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/js/controllers/installationWizardController.js
  src/node/static/js/controllers/sensorsController.js
  src/node/static/js/controllers/usersController.js
  src/node/static/js/script.js
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(stimulators): Guard channel map LED count check against non-integer types
  src/ethoscope/ethoscope/stimulators/channel_maps.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(firmware): Swap LED channel pairs for correct ROI-to-channel mapping
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
Due: none

fix(firmware): Swap pin pairs in PCB v1.2 mapping for correct ROI-to-LED alignment
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
Due: none

fix(firmware): Reverse last 10 pins in PCB v1.2 mapping for correct channel order
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
Due: none

fix(stimulators): Handle missing serial hardware in OptoMotor init
  src/ethoscope/ethoscope/hardware/interfaces/optomotor.py
  src/ethoscope/ethoscope/tests/unittests/test_opto_stimulators.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Attach temperature callback during sensor discovery
  src/node/ethoscope_node/scanner/sensor_scanner.py
  src/node/scripts/server.py
  src/node/tests/integration/notifications/test_temperature_alert_pipeline.py
  src/node/tests/unit/scanner/test_sensor_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

node: add ethoscope_mirror_fetch service+timer to refresh local bare mirror
  accessories/upgrade_scripts/install_services.sh
  services/ethoscope_mirror_fetch.service
  services/ethoscope_mirror_fetch.timer
Due: none

feat: Add LED daylight control service for incubator light regimes
  accessories/install_ethoscope_debian.sh
  accessories/upgrade_scripts/install_services.sh
  services/ethoscope_light.service
  src/ethoscope/ethoscope/control/record.py
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
  src/ethoscope/scripts/device_server.py
  src/node/ethoscope_node/api/node_api.py
  src/node/ethoscope_node/api/setup_api.py
  src/node/ethoscope_node/utils/etho_db.py
  src/node/static/index.html
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/incubatorsController.js
  src/node/static/js/controllers/moreController.js
  src/node/static/js/script.js
  src/node/static/pages/ethoscope.html
  src/node/static/pages/incubators.html
  src/node/static/pages/more.html
  src/node/tests/unit/api/test_node_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ui): Make tracking error message dismissible
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: none

fix(ui): Fix Angular expression error in tracking validation message
  src/node/static/pages/ethoscope.html
Due: none

fix(ui): Require location selection and fix dropdown z-index
  src/node/static/css/main.css
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/pages/ethoscope.html
Due: none

fix(ui): Fix error dismiss button using object for scope inheritance
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: none

fix(lint): Resolve all ruff warnings in device_server.py
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat: Add light hardware toggle to ethoscope settings
  src/ethoscope/ethoscope/utils/pi.py
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$
