Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

python-check-syntax:
  name: Check Python syntax
  entry: python
  language: system
  args:
  - -m
  - py_compile

python-import-check:
  name: Check Python imports (requires venv)
  entry: bash
  language: system
  args:
  - -c
  ...

validate-cross-package-imports:
  name: Validate no cross-package imports (maintain package independence)
  entry: bash
  language: system
  args:
  - -c
  ...

docs(tasks): dl-tracking production soak results and the brownout risk
  tasks/todo.dl-tracking.md
Due: none

feat(dl_tracking): evaluate a subset of tubes; sustained pixel truth for sleep
  dl_tracking/evaluate.py
Due: python-check-syntax

docs(tasks): dl-tracking round 4 results
  tasks/todo.dl-tracking.md
Due: none

fix(dl_tracking): auto pixel level without light phases applied level 20
  dl_tracking/evaluate.py
  dl_tracking/tests/test_evaluate.py
Due: python-check-syntax

docs(tasks): ETHOSCOPE_109 camera shake; v6 does not beat v5
  tasks/todo.dl-tracking.md
Due: none

chore(3d): update case files and add opto module parts
  accessories/3D_printed_files/ETHOSCOPE/2.1_etho_v1.8_PI3_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/2.2_etho_v1.8_PI4_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/Main_Ethoscope_Parts.3mf
  accessories/3D_printed_files/MODULES/2.1-Etho_Module-Opto-Base.stl
  accessories/3D_printed_files/MODULES/2.1-Etho_Module-Opto-Spacer.stl
  accessories/3D_printed_files/MODULES/2.2-Etho_Module-Opto-Motor-Cover-with-holes.stl
  accessories/3D_printed_files/MODULES/2.2-Etho_Module-Opto-Motor-Cover.stl
  accessories/3D_printed_files/MODULES/2.x-Modules.3mf
Due: none

feat(multimodule): motor identification mode in the board self-test
  accessories/hardware/ethoscope_multimodule/test_multimodule.py
Due: python-check-syntax

feat(trackers): DeepTubeTracker, the learned per-tube fly locator
  dl_tracking/device_reference.py
  dl_tracking/tests/test_device_copy.py
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/tests/integration_api_tests/test_deep_tube_video.py
  src/ethoscope/ethoscope/tests/static_files/deep_tube/reference_v5.npz
  src/ethoscope/ethoscope/tests/unit/test_deep_tube_engine.py
  src/ethoscope/ethoscope/tests/unit/test_deep_tube_tracker.py
  src/ethoscope/ethoscope/trackers/deep_tube/__init__.py
  src/ethoscope/ethoscope/trackers/deep_tube/engine.py
  src/ethoscope/ethoscope/trackers/deep_tube/models/fly_locator_tiny_s2_v5.json
  src/ethoscope/ethoscope/trackers/deep_tube/models/fly_locator_tiny_s2_v5.onnx
  src/ethoscope/ethoscope/trackers/deep_tube/preprocess.py
  src/ethoscope/ethoscope/trackers/deep_tube/tracker.py
  src/ethoscope/pyproject.toml
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(control): offer DeepTubeTracker in the start dialog
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/tests/unit/test_acquisition_metadata.py
  src/ethoscope/ethoscope/tests/unit/test_deep_tube_control.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs: DeepTubeTracker in the project docs; Phase 6 progress
  CLAUDE.md
  dl_tracking/README.md
  src/ethoscope/README.md
  src/ethoscope/docs/ethoscope.trackers.rst
  tasks/todo.dl-tracking.md
Due: none

docs(tasks): DeepTubeTracker live check on ETHOSCOPE_312
  tasks/todo.dl-tracking.md
Due: none

test(trackers): compare the decode reference within float rounding
  src/ethoscope/ethoscope/tests/unit/test_deep_tube_engine.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(light): warn when the LED cannot dim, and show whether it is lit
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unit/test_light_pwm_status.py
  src/ethoscope/scripts/device_server.py
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(trackers): run DeepTubeTracker's network on 2 threads
  src/ethoscope/ethoscope/tests/unit/test_deep_tube_engine.py
  src/ethoscope/ethoscope/trackers/deep_tube/engine.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): one start spinner, so it stops when the device has started
  src/node/static/js/controllers/ethoscopeController.js
Due: none

fix(node): know a reboot or shutdown it asked for, and forget ETHOSCOPE_000
  src/node/ethoscope_node/scanner/base_scanner.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_device_departure.py
  src/node/tests/unit/scanner/test_ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(device): send the mDNS goodbye when systemd stops the server
  src/ethoscope/ethoscope/tests/unit/test_sigterm_goodbye.py
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(node): show a rebooting or shut-down ethoscope, and failed renames
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/incubatorsController.js
  src/node/static/pages/ethoscope.html
  src/node/static/pages/home.html
Due: none

fix(node): read the rename from the dialog's nested settings payload
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_device_departure.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(updater): update then reboot, for a device renamed with an update
  src/updater/tests/test_update_then_reboot.py
  src/updater/update_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(device): "update the software" in the settings, on for a fresh card
  src/ethoscope/ethoscope/tests/unit/test_software_update_option.py
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(node): let a device that updates itself reboot by itself
  src/node/ethoscope_node/api/device_api.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/static/js/controllers/ethoscopeController.js
  src/node/tests/unit/api/test_device_api.py
  src/node/tests/unit/scanner/test_device_departure.py
  src/node/tests/unit/test_form_service_requires_reboot.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(device): reopen the camera after a dropout instead of ending the run
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/tests/unit/test_camera_dropout.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(device): record camera dropouts in the run, end a run whose camera is gone
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/io/mysql.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/ethoscope/ethoscope/tests/integration_api_tests/test_camera_gap_video.py
  src/ethoscope/ethoscope/tests/unit/test_camera_events.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(node): show camera dropouts on the ethoscope page
  src/node/static/pages/ethoscope.html
Due: none

fix(node): run one backup job per device at a time
  src/node/ethoscope_node/backup/helpers.py
  src/node/tests/unit/backup/test_backup_inflight.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): delete a device's video chunk only if a merged video holds it
  CLAUDE.md
  accessories/h264_to_mp4.py
  src/node/ethoscope_node/utils/device_storage.py
  src/node/tests/unit/test_h264_to_mp4.py
  src/node/tests/unit/utils/test_device_storage.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(accessories): keep rsync's in-transit files out of the hourly mirror
  accessories/cronie_scripts/sync
Due: none

docs(tasks): camera dropout recovery and the video backup fixes
  tasks/todo.dl-tracking.md
  tasks/todo.md
Due: none

fix(updater): restart the backup services before the updater restarts itself
  src/updater/helpers.py
  src/updater/tests/test_node_reload_order.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(device): adaptive gain for tracking, and record what the camera ran at
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/io/mysql.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/ethoscope/ethoscope/tests/unit/test_acquisition_metadata.py
  src/ethoscope/ethoscope/tests/unit/test_camera_exposure_log.py
  src/ethoscope/ethoscope/tests/unit/test_exposure_first.py
  tasks/todo.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): first production runs and the ETHOSCOPE_361 evening comparison
  tasks/todo.dl-tracking.md
Due: none

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$
