Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

python-check-syntax:
  name: Check Python syntax
  entry: python
  language: system
  args:
  - -m
  - py_compile

python-import-check:
  name: Check Python imports (requires venv)
  entry: bash
  language: system
  args:
  - -c
  ...

validate-cross-package-imports:
  name: Validate no cross-package imports (maintain package independence)
  entry: bash
  language: system
  args:
  - -c
  ...

fix(tests): let the device test suite be collected
  src/ethoscope/__init__.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): record unsolved items from the bench session
  tasks/unsolved.md
Due: none

feat(camera): set measured defaults for gain and frame-rate cap
  src/ethoscope/ethoscope/tests/unit/test_camera_tuning.py
  src/ethoscope/ethoscope/utils/pi.py
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ui): stop hiding noise readings when jitter is unavailable
  src/node/static/pages/ethoscope.html
Due: none

docs(tasks): add the gain/FPS matrix figure and its data
  tasks/assets/222_gain_fps_matrix.csv
  tasks/assets/222_plot_matrix.py
Due: python-check-syntax

docs(tasks): add the matrix figure itself
  .gitignore
  tasks/assets/222_gain_fps_matrix.png
Due: none

docs(tasks): record verification gaps found merging #222
  tasks/unsolved.md
Due: none

feat(ui): stop offering camera gain and maxfps as machine settings
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): interpret the noise reading instead of leaving it raw
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: none

feat(light): log light transitions to a LIGHT_EVENTS table
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/io/mysql.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/ethoscope/ethoscope/tests/unit/test_light_events.py
  src/node/ethoscope_node/backup/mysql.py
  src/node/tests/unit/backup/test_mysql.py
  tasks/unsolved.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(device): share one timed stop for tracking and recording
  src/ethoscope/ethoscope/control/record.py
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/tests/unit/test_recording_marker.py
  src/ethoscope/ethoscope/tests/unit/test_timed_stop.py
  src/ethoscope/ethoscope/utils/scheduler.py
  tasks/todo.timed-stop.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(device): let a running experiment be rescheduled or cancelled
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/tests/unit/test_timed_stop.py
  src/ethoscope/scripts/device_listener.py
  src/ethoscope/scripts/device_server.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_ethoscope_scanner.py
  tasks/todo.timed-stop.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): show the scheduled stop and let it be changed
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/pages/ethoscope.html
  src/node/static/pages/partials/option-argument.html
  tasks/todo.timed-stop.md
Due: none

feat(ui): ask for the run length as days, hours and minutes
  src/ethoscope/ethoscope/tests/unit/test_timed_stop.py
  src/ethoscope/ethoscope/utils/scheduler.py
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
  tasks/todo.timed-stop.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): make the duration one control and pick the stop date
  src/ethoscope/ethoscope/tests/unit/test_timed_stop.py
  src/ethoscope/ethoscope/utils/scheduler.py
  src/node/static/css/main.css
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/pages/partials/option-argument.html
  tasks/todo.timed-stop.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ui): stop the date picker opening off the bottom of the window
  src/node/static/js/vendor/angular-daterangepicker.js
  src/node/static/pages/partials/option-argument.html
  tasks/todo.timed-stop.md
Due: none

feat(ui): ask how the experiment should stop, then ask only that
  src/ethoscope/ethoscope/tests/unit/test_timed_stop.py
  src/ethoscope/ethoscope/utils/scheduler.py
  tasks/todo.timed-stop.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): fit the timed stop onto one row
  src/ethoscope/ethoscope/utils/scheduler.py
  src/node/static/css/main.css
  src/node/static/pages/ethoscope.html
  src/node/static/pages/partials/option-argument.html
  tasks/todo.timed-stop.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(install): build pigpio from source on Trixie, add GitHub remote
  accessories/install_ethoscope_debian.sh
Due: none

feat(light): add fade and test subcommands to ethoscope-light
  src/ethoscope/ethoscope/hardware/interfaces/light_cli.py
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unittests/test_light_cli.py
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(install): add --prepare-image to sanitise a device for public .img capture
  accessories/install_ethoscope_debian.sh
Due: none

feat(install): auto-configure the Pi camera per model so one image serves Pi 2/3/4/5
  accessories/configure_pi_camera.sh
  accessories/install_ethoscope_debian.sh
  services/ethoscope_camera_firstboot.service
Due: none

feat(image): --universal-camera to retrofit an existing image in place
  accessories/configure_pi_camera.sh
  accessories/ethoscope-image.sh
Due: none

feat(image): --universal-camera normalises sdimagename (_piN -> _universal)
  accessories/ethoscope-image.sh
Due: none

fix(image): retag multi-model image as _pi2_pi3_pi4, not _universal
  accessories/ethoscope-image.sh
Due: none

fix(image): name the multi-model image _pi3_pi4, not _pi2_pi3_pi4
  accessories/ethoscope-image.sh
Due: none

feat(image): self-hosted image publishing, replacing the box.com dance
  CLAUDE.md
  Docker/image_server/docker-compose.yml
  Docker/resource_server/contents/links.json
  Docker/resource_server/docker-compose.yml
  Docker/resource_server/index_template.html
  Docker/resource_server/pa_server.py
  accessories/ethoscope-image.sh
  accessories/publish-image.sh
  src/node/static/pages/resources.html
  tasks/todo.md
Due: python-check-syntax

docs(tasks): record the image pipeline deployment
  tasks/todo.md
Due: none

chore(resources): retire the box.com SD image links
  Docker/resource_server/contents/links.json
Due: none

fix(node): restore last known user and location on the home page
  src/ethoscope/ethoscope/control/tracking.py
  src/node/static/js/script.js
  src/node/static/pages/home.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(updater): compare against a freshly fetched ref, not a frozen one
  src/updater/tests/test_updater_stale_tracking_ref.py
  src/updater/updater.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(updater): make the update table say what it actually measured
  src/updater/helpers.py
  src/updater/static/css/main.css
  src/updater/static/index.html
  src/updater/static/js/script.js
  tasks/lessons.md
  tasks/todo.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(updater): stop dropping devices that miss the 2s discovery probe
  src/updater/helpers.py
  src/updater/static/index.html
  src/updater/static/js/script.js
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(updater): retry the discovery probe before calling a device unreachable
  src/updater/helpers.py
  src/updater/tests/test_device_map_probe.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(updater): judge devices from the node, not from their own say-so
  src/updater/tests/test_node_side_verdict.py
  src/updater/update_server.py
  src/updater/updater.py
  tasks/todo.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): record the outcome of the updater investigation
  tasks/todo.md
Due: none

feat(incubators): say where every box is, and what is inside it
  src/node/ethoscope_node/api/device_api.py
  src/node/ethoscope_node/api/incubator_storage_adapter.py
  src/node/ethoscope_node/api/setup_api.py
  src/node/ethoscope_node/incubators/hierarchy.py
  src/node/ethoscope_node/incubators/routes.py
  src/node/ethoscope_node/incubators/storage.py
  src/node/ethoscope_node/incubators/tests/test_hierarchy.py
  src/node/ethoscope_node/incubators/tests/test_routes.py
  src/node/ethoscope_node/incubators/tests/test_storage.py
  src/node/ethoscope_node/utils/device_locations.py
  src/node/ethoscope_node/utils/etho_db.py
  src/node/static/css/main.css
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/incubatorsController.js
  src/node/static/pages/incubators.html
  src/node/tests/unit/api/test_device_api.py
  src/node/tests/unit/api/test_incubator_api.py
  src/node/tests/unit/api/test_setup_api.py
  src/node/tests/unit/utils/test_device_locations.py
  src/node/tests/unit/utils/test_etho_db.py
  tasks/todo.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(cameras): say the camera is missing instead of throwing an IndexError
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/tests/unit/test_camera_absent.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): close the seven bandit findings in the backup helpers
  src/node/ethoscope_node/backup/helpers.py
  src/node/tests/integration/test_backup_cache_performance.py
  src/node/tests/unit/test_backup_helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): check URL schemes in the scanner too, and stop hardcoding /tmp
  src/node/ethoscope_node/backup/helpers.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/ethoscope_node/utils/configuration.py
  src/node/ethoscope_node/utils/network.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$
