Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$

docs(multimodule): add README for multi-module actuator controller
  accessories/hardware/ethoscope_multimodule/README.md
Due: none

fix(camera): decouple sensor exposure ceiling from maxfps tracking cap
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/tests/unit/test_camera_exposure_decoupling.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(stimulators): add Activity trigger, make time restriction a modifier
  src/ethoscope/ethoscope/stimulators/composed_stimulator.py
  src/ethoscope/ethoscope/stimulators/triggers.py
  src/ethoscope/ethoscope/tests/unit/test_composed_stimulator.py
  src/ethoscope/ethoscope/tests/unittests/test_composed_stim.py
  src/ethoscope/ethoscope/tests/unittests/test_triggers.py
  tasks/todo.activity-trigger.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): repair ramp-down monotonicity check that could never pass
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): raise Python floor to 3.11 to match what the code actually needs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  README.md
  src/ethoscope/pyproject.toml
  src/node/pyproject.toml
Due: validate-cross-package-imports

fix(deps): cap opencv-python <5, pin black in CI, patch audit setuptools
  .github/workflows/quality.yml
  src/ethoscope/pyproject.toml
  src/node/pyproject.toml
Due: validate-cross-package-imports

fix(updater): show namespaced branches (e.g. fix/222) in switch dropdown
  src/updater/tests/test_updater_visible_branches.py
  src/updater/updater.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(stimulators): score activity as a binned duty cycle, not an unbroken bout
  src/ethoscope/ethoscope/stimulators/composed_stimulator.py
  src/ethoscope/ethoscope/stimulators/triggers.py
  src/ethoscope/ethoscope/tests/unit/test_composed_stimulator.py
  src/ethoscope/ethoscope/tests/unittests/test_composed_stim.py
  src/ethoscope/ethoscope/tests/unittests/test_triggers.py
  tasks/todo.activity-trigger-duty-cycle.md
  tasks/todo.activity-trigger.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(control): refuse to start when a stimulator fails to build
  src/ethoscope/ethoscope/control/tracking.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(scheduler): anchor the daily window to local time, not the UTC epoch day
  src/ethoscope/ethoscope/tests/unittests/test_scheduler_timing.py
  src/ethoscope/ethoscope/utils/scheduler.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ui): stop .input span leaking onto every span in the tracking modal
  src/node/static/css/main.css
  src/node/static/pages/ethoscope.html
Due: none

fix(ui): toggle the multi-stimulator boolean, keep date pickers on one row
  src/node/static/css/main.css
  src/node/static/pages/ethoscope.html
Due: none

feat(ui): group stimulator settings into Trigger / Stimulus / Timing sections
  src/ethoscope/ethoscope/stimulators/composed_stimulator.py
  src/node/static/css/main.css
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/js/controllers/ethoscopeFormService.js
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): record deferred OpenCV 5 migration
  tasks/todo.opencv5-migration.md
Due: none

fix(ui): let the wizard reach its completion step
  src/node/static/js/controllers/installationWizardController.js
  src/node/static/pages/wizard/steps/step-7-remote-access.html
Due: none

fix(api): report why adding an incubator failed
  src/node/ethoscope_node/api/setup_api.py
  src/node/tests/unit/api/test_setup_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): record fresh-install wizard findings
  tasks/todo.md
Due: none

fix(config): deep-copy defaults on fresh install
  src/node/ethoscope_node/utils/configuration.py
  src/node/tests/unit/utils/test_configuration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ui): restore the module test for any connected module
  src/ethoscope/scripts/device_server.py
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(camera): always apply the NoIR tuning for the actual sensor
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/tests/unit/test_camera_tuning.py
  src/ethoscope/ethoscope/utils/pi.py
  src/ethoscope/scripts/device_server.py
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): plan real-time noise diagnostics
  tasks/todo.md
Due: none

feat(metadata): record the acquisition context of every run
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/tests/unit/test_acquisition_metadata.py
  tasks/todo.md
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(diagnostics): measure image noise, focus and tracker jitter
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/tests/unit/test_tracking_diagnostics.py
  src/ethoscope/ethoscope/trackers/adaptive_bg_tracker.py
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(diagnostics): persist acquisition quality to a DIAGNOSTICS table
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/io/mysql.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(backup): count DIAGNOSTICS rows rather than syncing on MAX(id)
  src/node/ethoscope_node/backup/mysql.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(camera): pick the tuning pipeline by Pi generation, not by first match
  src/ethoscope/ethoscope/tests/unit/test_camera_tuning.py
  src/ethoscope/ethoscope/utils/pi.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(diagnostics): reach the tracker through a TrackingUnit property
  src/ethoscope/ethoscope/core/tracking_unit.py
  src/ethoscope/ethoscope/tests/unit/test_tracking_diagnostics.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(metadata): read the acquisition regime from the frame grabber
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/tests/unit/test_acquisition_metadata.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(light): add an lgpio PWM backend for Trixie and the Pi 5
  accessories/3D_printed_files/MODULES/1.2-Etho_Module-Motors-Cover.stl
  accessories/install_ethoscope_debian.sh
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(light): refuse CPU-timed PWM on non-hardware-PWM pins
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(light): keep pigpio off the update server's port
  accessories/install_ethoscope_debian.sh
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): record the bench session findings
  tasks/todo.md
Due: none

docs(tasks): correct two bench conclusions
  tasks/todo.md
Due: none

fix: repair manual ROI templates, error reporting, diagnostics and camera cache
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/ethoscope/ethoscope/roi_builders/template.py
  src/ethoscope/ethoscope/tests/unit/test_acquisition_metadata.py
  src/ethoscope/ethoscope/tests/unit/test_manual_roi_templates.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
  src/ethoscope/ethoscope/utils/pi.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(control): report ROI builder construction failures cleanly too
  src/ethoscope/ethoscope/control/tracking.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

docs(tasks): mark the four bench defects fixed
  tasks/todo.md
Due: none

feat(diagnostics): record core temperature with each sample
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(diagnostics): add a single-frame noise estimate and a tunable interval
  src/ethoscope/ethoscope/core/monitor.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/tests/unit/test_tracking_diagnostics.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(camera): apply gain changes to the running camera
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/tests/unit/test_camera_fps.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(device): clear machine settings between update requests
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports
