Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$

chore: Update default camera settings
  src/ethoscope/scripts/device_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

refactor(firmware): Extract user config to gitignored versions.h
  .gitignore
  accessories/hardware/ethoscope_multimodule/ethoscope_multimodule.ino
  accessories/hardware/ethoscope_multimodule/versions.h.example
Due: none

feat(ui): Add incubator delete and sensor association display
  src/node/ethoscope_node/api/setup_api.py
  src/node/ethoscope_node/utils/etho_db.py
  src/node/static/js/controllers/incubatorsController.js
  src/node/static/pages/incubators.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore: Update Ethoscope PI3 image to April 2026 release
  Docker/resource_server/contents/links.json
Due: none

fix(ui): Fix sensor modal crash and clean up script.js bugs
  src/node/static/js/script.js
Due: none

fix(updater): Delay node daemon restart to prevent 502 on update
  src/updater/update_server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

style: Replace %-formatting with f-strings in light_daemon.py
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): Consolidate sensor management into dedicated page with per-sensor alerts
  src/node/ethoscope_node/api/sensor_api.py
  src/node/ethoscope_node/api/setup_api.py
  src/node/ethoscope_node/notifications/temperature_monitor.py
  src/node/ethoscope_node/utils/configuration.py
  src/node/static/index.html
  src/node/static/js/controllers/moreController.js
  src/node/static/js/controllers/sensorsManagementController.js
  src/node/static/js/script.js
  src/node/static/pages/home.html
  src/node/static/pages/more.html
  src/node/static/pages/sensors.html
  src/node/tests/unit/notifications/test_temperature_monitor.py
  src/node/tests/unit/utils/test_configuration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(sensors): Use explicit alerts field instead of ID prefix for alert suppression
  accessories/hardware/etho_sensor/virtual_sensor.py
  src/node/ethoscope_node/api/sensor_api.py
  src/node/ethoscope_node/notifications/temperature_monitor.py
  src/node/ethoscope_node/scanner/sensor_scanner.py
  src/node/static/js/controllers/sensorsManagementController.js
  src/node/static/pages/sensors.html
  src/node/tests/unit/notifications/test_temperature_monitor.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(services): Correct virtual sensor script path in service file
  services/ethoscope_sensor_virtual.service
Due: none

fix(device): Fix /etc/hosts being overwritten by cloud-init on newer Raspbian
  accessories/install_ethoscope_debian.sh
  accessories/reset_to_000.sh
  accessories/upgrade_scripts/migrate_to_unified_structure.sh
  src/ethoscope/ethoscope/utils/pi.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

refactor(install): Consolidate reset_to_000.sh into install_ethoscope_debian.sh
  accessories/install_ethoscope_debian.sh
  accessories/reset_to_000.sh
Due: none

chore: Remove pre-commit wrapper scripts
  CLAUDE.md
  README.md
  scripts/setup_pre_commit.sh
  scripts/test_pre_commit.sh
Due: none

fix(install): Ensure cloud-init settings are set and fix sdimagename
  accessories/install_ethoscope_debian.sh
Due: none

fix(node): Update SSH link credentials from alarm to ethoscope
  src/node/static/pages/ethoscope.html
Due: none

New link to ethoscope image 2026 04 17
  Docker/resource_server/contents/links.json
Due: none

fix(sensor): Add fallback address resolution for virtual sensor
  accessories/hardware/etho_sensor/virtual_sensor.py
Due: python-check-syntax

test: Add unit tests for device package and fix stimulator init bugs
  src/ethoscope/.coveragerc
  src/ethoscope/ethoscope/stimulators/odour_stimulators.py
  src/ethoscope/ethoscope/stimulators/sleep_depriver_stimulators.py
  src/ethoscope/ethoscope/tests/unittests/test_base_writer.py
  src/ethoscope/ethoscope/tests/unittests/test_odour_stimulators.py
  src/ethoscope/ethoscope/tests/unittests/test_optomotor_stimulators.py
  src/ethoscope/ethoscope/tests/unittests/test_roi.py
  src/ethoscope/ethoscope/tests/unittests/test_sleep_depriver_stimulators.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
  src/ethoscope/ethoscope/tests/unittests/test_tracking_unit.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test: Add tests for triggers, composed stimulator, and drawers
  src/ethoscope/ethoscope/tests/unittests/test_composed_stim.py
  src/ethoscope/ethoscope/tests/unittests/test_drawers.py
  src/ethoscope/ethoscope/tests/unittests/test_triggers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test: Add tests for triggers, actions, channels, drawers, and cache
  src/ethoscope/.coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_actions_and_channels.py
  src/ethoscope/ethoscope/tests/unittests/test_cache_base.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test: Add tests for img_proc and video utilities
  src/ethoscope/ethoscope/tests/unittests/test_img_proc_and_video.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(frontend): Fix spinner.stop is not a function error
  src/node/static/js/script.js
Due: none

chore: Update 3D printed case files and add mirror SVG
  accessories/3D_printed_files/ETHOSCOPE/2.1_etho_v1.7_PI3_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/2.1_etho_v1.8_PI3_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/2.2_etho_v1.7_PI4_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/2.2_etho_v1.8_PI4_CASE.stl
  accessories/3D_printed_files/ETHOSCOPE/3.1_etho_v1.8_Wall_Stabiliser.stl
  accessories/3D_printed_files/ETHOSCOPE/Main_Ethoscope_Parts.3mf
  accessories/3D_printed_files/REFLECTIVE_SURFACE/ethoscope_mirror_2xb.svg
Due: none

feat(db2video): Add tracking overlay and switch to ffmpeg H.264 encoding
  accessories/databases/db2video.py
  accessories/databases/video_from_ethoscope_db.py
Due: python-check-syntax

fix(node): Handle device IP changes via Zeroconf update_service
  src/node/ethoscope_node/scanner/base_scanner.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_base_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(light): Force LED on during target detection + control API & CLI
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/hardware/interfaces/light_cli.py
  src/ethoscope/ethoscope/hardware/interfaces/light_daemon.py
  src/ethoscope/ethoscope/tests/unittests/test_light_cli.py
  src/ethoscope/ethoscope/tests/unittests/test_light_daemon.py
  src/ethoscope/pyproject.toml
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore(install): Drop ethoscope-light wrapper into /usr/bin
  accessories/install_ethoscope_debian.sh
Due: none

chore(accessories): Add ethoscope-image.sh SD-card image helper
  accessories/ethoscope-image.sh
Due: none

fix(camera): Prevent silent crash when camera init fails
  src/ethoscope/ethoscope/hardware/input/cameras.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Replace skip_scanning blacklist with slow-cadence backoff
  src/node/ethoscope_node/scanner/base_scanner.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_base_scanner.py
  src/node/tests/unit/scanner/test_ethoscope_scanner.py
  src/node/tests/unit/scanner/test_sensor_scanner.py
  src/node/tests/unit/test_device_renaming.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Don't flash "temporarily unreachable" during user reboots
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/static/pages/home.html
  src/node/tests/unit/scanner/test_ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Show "offline" instead of null for DB-only devices
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Stop "temporarily unreachable" alert from flashing forever
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

Updating download link to ethoscope image from 2026 April 28
  Docker/resource_server/contents/links.json
Due: none

fix(precommit): Make import-check work with relative imports
  .pre-commit-config.yaml
Due: none

fix(node): Restore device-stopped alerts swallowed by orphan cleanup
  src/node/ethoscope_node/notifications/base.py
  src/node/ethoscope_node/notifications/email.py
  src/node/ethoscope_node/notifications/mattermost.py
  src/node/ethoscope_node/notifications/slack.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/ethoscope_node/utils/etho_db.py
  src/node/tests/integration/notifications/test_notification_integration.py
  src/node/tests/unit/notifications/test_base.py
  src/node/tests/unit/notifications/test_email.py
  src/node/tests/unit/notifications/test_mattermost.py
  src/node/tests/unit/notifications/test_slack.py
  src/node/tests/unit/utils/test_etho_db.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Stop offline<->unreached ping-pong flashing alert forever
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/scanner/test_ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(accessories): Add PI4 image link and SD card flasher script
  Docker/resource_server/contents/links.json
  accessories/pi_image_flasher.sh
Due: none
