Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$

fix(device): Fix picamera2 import causing RuntimeError in systemd service
  src/ethoscope/ethoscope/hardware/input/cameras.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(updater): Fix "Back to Node" link to navigate to actual node server
  src/updater/static/index.html
Due: none

fix(backup): Fix MariaDB authentication for remote backups from node
  src/ethoscope/ethoscope/io/mysql.py
  src/node/ethoscope_node/backup/helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(node): Retire MySQLResultWriter from default options, add config toggle
  CLAUDE.md
  accessories/upgrade_scripts/install_services.sh
  src/node/ethoscope_node/api/node_api.py
  src/node/ethoscope_node/utils/configuration.py
  src/node/static/js/controllers/ethoscopeController.js
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(backup): Add SQLite WAL checkpoint before rsync to prevent database corruption
  src/node/ethoscope_node/backup/helpers.py
  src/node/tests/unit/test_backup_helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Update DB credentials test to match recent credential changes
  src/node/tests/unit/backup/test_helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

style: Fix black formatting in configuration.py
  src/node/ethoscope_node/utils/configuration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(pre-commit): Add targeted unit tests for config validation
  .pre-commit-config.yaml
Due: none

feat(databases): Add SD card MariaDB recovery tool and documentation
  accessories/databases/README.md
  accessories/databases/mariadb2sqlite.sh
  accessories/databases/recover_mariadb_from_sdcard.sh
Due: none

feat(notifications): Add temperature alert monitoring for sensors
  src/node/ethoscope_node/api/setup_api.py
  src/node/ethoscope_node/notifications/email.py
  src/node/ethoscope_node/notifications/manager.py
  src/node/ethoscope_node/notifications/mattermost.py
  src/node/ethoscope_node/notifications/slack.py
  src/node/ethoscope_node/notifications/temperature_monitor.py
  src/node/ethoscope_node/scanner/sensor_scanner.py
  src/node/ethoscope_node/utils/configuration.py
  src/node/scripts/server.py
  src/node/static/js/controllers/installationWizardController.js
  src/node/static/pages/wizard/steps/step-8-notifications.html
  src/node/tests/unit/notifications/test_temperature_monitor.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(backup): Prioritize SQLite/rsync over MySQL for backup type detection
  src/node/ethoscope_node/backup/helpers.py
  src/node/tests/unit/backup/test_helpers.py
  src/node/tests/unit/test_backup_helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(config): Use CLI-provided directories throughout node codebase
  src/node/ethoscope_node/api/device_api.py
  src/node/ethoscope_node/api/sensor_api.py
  src/node/ethoscope_node/api/setup_api.py
  src/node/scripts/server.py
  src/node/static/js/controllers/installationWizardController.js
  src/node/tests/unit/api/test_sensor_api.py
  src/node/tests/unit/api/test_setup_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): Add enhanced backup modal with type detection and scope selection
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: none

fix(ci): Resolve CI/CD failures in code quality and unit tests
  src/ethoscope/ethoscope/hardware/interfaces/GPIO.py
  src/ethoscope/ethoscope/io/cache.py
  src/ethoscope/ethoscope/tests/unit/test_camera_timeout.py
  src/ethoscope/ethoscope/tests/unittests/test_cache.py
  src/node/ethoscope_node/scanner/sensor_scanner.py
  src/node/tests/unit/api/test_device_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): Use public numpy API and fix black formatting
  src/ethoscope/ethoscope/io/helpers.py
  src/node/ethoscope_node/backup/mysql.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): Lower coverage threshold to 78%
  src/node/.coveragerc
Due: none

feat(node): Add bug report generation feature
  .pre-commit-config.yaml
  src/node/ethoscope_node/api/__init__.py
  src/node/ethoscope_node/api/bugreport_api.py
  src/node/scripts/server.py
  src/node/static/js/controllers/moreController.js
  src/node/static/pages/more.html
  src/node/tests/unit/api/test_bugreport_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix: Resolve silent failure when starting experiments with TargetGridROIBuilder
  src/ethoscope/scripts/device_listener.py
  src/ethoscope/scripts/device_server.py
  src/node/static/js/controllers/ethoscopeController.js
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(ui): Simplify tracking widget by hiding result writer selection
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/node/static/js/controllers/ethoscopeController.js
  src/node/static/pages/ethoscope.html
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ui): Guard against undefined selected_options.tracking during init
  src/node/static/js/controllers/ethoscopeController.js
Due: none

fix(node): Fix user management wizard field mapping and editing
  src/node/ethoscope_node/utils/configuration.py
  src/node/ethoscope_node/utils/etho_db.py
  src/node/tests/unit/test_etho_db_user_methods.py
  src/node/tests/unit/utils/test_configuration.py
  src/node/tests/unit/utils/test_etho_db.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Filter non-multicast interfaces from zeroconf discovery
  src/node/ethoscope_node/scanner/base_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Fix setup wizard always showing after getAllUsers field rename
  src/node/ethoscope_node/api/setup_api.py
  src/node/ethoscope_node/utils/configuration.py
  src/node/tests/unit/utils/test_configuration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Normalize legacy PINs stored as integers to zero-padded strings
  src/node/ethoscope_node/utils/etho_db.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

Update LiveCD ISO download URL
  Docker/resource_server/contents/links.json
Due: none

fix(node): Add periodic SSH key retry for devices that missed initial transfer
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Connect backup processing status to per-device data for animation
  src/node/ethoscope_node/api/backup_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Parse rsync service response correctly for backup processing status
  src/node/ethoscope_node/api/backup_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(mAGO): Add optogenetic LED modules and pulse train support
  accessories/hardware/mAGO/mAGO.ino
  accessories/hardware/mAGO/test_mago.py
Due: python-check-syntax

feat(opto): Add optogenetic LED stimulator classes with pulse train support
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/hardware/interfaces/interfaces.py
  src/ethoscope/ethoscope/hardware/interfaces/optomotor.py
  src/ethoscope/ethoscope/stimulators/multi_stimulator.py
  src/ethoscope/ethoscope/stimulators/optomotor_stimulators.py
  src/ethoscope/ethoscope/stimulators/sleep_depriver_stimulators.py
  src/ethoscope/ethoscope/tests/integration_server_tests/test_opto_config.json
  src/ethoscope/ethoscope/tests/unittests/test_opto_stimulators.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Fix rsync backup ownership and false success reporting
  src/node/ethoscope_node/backup/helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Fix SSH key auto-transfer failing when service runs as root
  src/node/ethoscope_node/backup/helpers.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): Show accurate service status in Docker mode
  Docker/node/docker-compose.yml
  src/node/ethoscope_node/api/node_api.py
  src/node/static/js/controllers/moreController.js
  src/node/static/pages/more.html
  src/node/tests/unit/api/test_node_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(docker): Add missing tools and health checks to node containers
  Docker/node/docker-compose.yml
  Docker/node/node.dockerfile
  src/node/ethoscope_node/api/node_api.py
  src/node/ethoscope_node/api/tunnel_utils.py
  src/node/scripts/server.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(docker): Add automated Docker image publishing to GHCR
  .github/CICD.md
  .github/workflows/docker.yml
  Docker/node/README.md
  Docker/node/docker-compose.yml
  Docker/node/node.dockerfile
Due: none
