Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

python-check-syntax:
  name: Check Python syntax
  entry: python
  language: system
  args:
  - -m
  - py_compile

python-import-check:
  name: Check Python imports (requires venv)
  entry: bash
  language: system
  args:
  - -c
  ...

validate-cross-package-imports:
  name: Validate no cross-package imports (maintain package independence)
  entry: bash
  language: system
  args:
  - -c
  ...

style: Apply black formatting after lint fixes
  src/ethoscope/ethoscope/control/record.py
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/drawers/drawers.py
  src/ethoscope/ethoscope/hardware/input/cameras.py
  src/ethoscope/ethoscope/hardware/interfaces/GPIO.py
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/io/mysql.py
  src/ethoscope/ethoscope/roi_builders/file_based_roi_builder.py
  src/ethoscope/ethoscope/roi_builders/target_detection_diagnostics.py
  src/ethoscope/ethoscope/roi_builders/template.py
  src/ethoscope/ethoscope/stimulators/odour_stimulators.py
  src/ethoscope/ethoscope/stimulators/sleep_depriver_stimulators.py
  src/ethoscope/ethoscope/trackers/multi_fly_tracker.py
  src/ethoscope/ethoscope/utils/pi.py
  src/node/ethoscope_node/notifications/email.py
  src/node/ethoscope_node/utils/configuration.py
  src/node/ethoscope_node/utils/etho_db.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): Align bandit security scan with pre-commit configuration
  .github/workflows/quality.yml
Due: none

fix(tests): Fix permission errors in CI test environment
  src/ethoscope/ethoscope/roi_builders/target_roi_builder.py
  src/ethoscope/ethoscope/tests/unittests/test_target_roi_builder.py
  src/node/tests/unit/notifications/test_base.py
  src/node/tests/unit/test_auth_system.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(node): Remove obsolete test_auth_system.py test file
  src/node/tests/unit/test_auth_system.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Fix PRIMARY KEY backup validation script import and collection
  src/node/tests/integration/backup_system/README.md
  src/node/tests/integration/backup_system/validate_primary_key_backup.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Fix integration test import and disable coverage for unit-only CI jobs
  .github/workflows/ci.yml
  src/node/tests/integration/backup_system/test_backup_format.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Fix integration test permission errors and video path
  src/ethoscope/ethoscope/tests/integration_api_tests/_constants.py
  src/node/tests/integration/test_auth_api_integration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Fix device scanner integration tests and remove broken auth API tests
  src/node/tests/integration/device_scanner/test_complete_logger_fix.py
  src/node/tests/integration/device_scanner/test_device_scanner_fix.py
  src/node/tests/integration/device_scanner/test_logger_name_fix.py
  src/node/tests/integration/test_auth_api_integration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Fix device integration test SQLiteResultWriter API usage
  src/ethoscope/ethoscope/tests/integration_api_tests/test_whole_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Mock EthoscopeConfiguration in device scanner tests to prevent permission errors
  src/node/tests/integration/device_scanner/test_complete_logger_fix.py
  src/node/tests/integration/device_scanner/test_device_scanner_fix.py
  src/node/tests/integration/device_scanner/test_logger_name_fix.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Fix remaining integration test failures and remove broken tests
  src/node/tests/integration/device_scanner/test_device_scanner_fix.py
  src/node/tests/integration/notifications/test_notification_integration.py
  src/node/tests/integration/test_backup_api_integration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Remove broken integration tests that test non-existent functionality
  src/node/tests/integration/device_scanner/test_device_scanner_fix.py
  src/node/tests/integration/notifications/test_notification_integration.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(pre-commit): Add automatic node integration test runner
  .pre-commit-config.yaml
Due: none

fix(tests): Fix device integration test CI failure and add pre-commit hook
  .pre-commit-config.yaml
  src/ethoscope/ethoscope/tests/integration_api_tests/_constants.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

ci: Remove redundant comprehensive test job
  .github/workflows/ci.yml
Due: none

fix(tests): Fix CI hang by properly joining HardwareConnection thread
  src/ethoscope/ethoscope/tests/integration_api_tests/test_whole_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(ci): Add timeouts to coverage job to prevent indefinite hangs
  .github/workflows/ci.yml
Due: none

fix(tests): Remove broken tests that are not in standard test directories
  src/ethoscope/ethoscope/tests/test_roi_templates.py
  src/ethoscope/ethoscope/tests/unit/test_append_functionality.py
  src/ethoscope/ethoscope/tests/unit/test_database_cache.py
  src/ethoscope/ethoscope/tests/unit/test_dbappender.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(coverage): Exclude hardware-specific code and set realistic coverage target
  src/ethoscope/.coveragerc
Due: none

test(roi_builders): Add comprehensive tests for ImgMaskROIBuilder
  src/ethoscope/.gitignore
  src/ethoscope/ethoscope/tests/static_files/img/test_roi_mask.png
  src/ethoscope/ethoscope/tests/unittests/test_img_roi_builder.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(io): Add comprehensive tests for SQLiteDatabaseMetadataCache
  src/ethoscope/ethoscope/tests/unittests/test_cache.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore(coverage): Update threshold to 41% after Phase 1 improvements
  src/ethoscope/.coveragerc
Due: none

test(device): Add comprehensive tests for SQLite database writers
  src/ethoscope/.coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(device): Add comprehensive tests for I/O helper classes
  src/ethoscope/ethoscope/tests/unittests/test_io_helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Remove unused imports to fix linting errors
  src/ethoscope/ethoscope/tests/unittests/test_io_helpers.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore(dev): Add missing linting tools to dev dependencies
  src/ethoscope/pyproject.toml
Due: validate-cross-package-imports

refactor(pre-commit): Replace flake8 and isort with ruff for unified linting
  .pre-commit-config.yaml
  pyproject.toml
  src/ethoscope/ethoscope/tests/unittests/test_cache.py
  src/ethoscope/ethoscope/tests/unittests/test_io_helpers.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(tests): Properly cleanup multiprocessing resources to prevent CI hangs
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(scheduler): Add comprehensive tests for DailyScheduler and extend Scheduler coverage
  .coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_scheduler_timing.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(stimulators): Add comprehensive tests for BaseStimulator and DefaultStimulator
  .coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_base_stimulator.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(io): Achieve 100% coverage for io/helpers.py
  src/ethoscope/ethoscope/tests/unittests/test_io_helpers.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(roi_builders): Improve img_roi_builder coverage to 84.38%
  .coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_img_roi_builder.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore(coverage): Update coverage threshold to 32.14%
  .coveragerc
Due: none

test(roi_builders): Improve target_roi_builder coverage to 93.72%
  src/ethoscope/ethoscope/tests/unittests/test_target_roi_builder.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore(coverage): Update coverage threshold to 32.48%
  .coveragerc
Due: none

test(multi_stimulator): Achieve 100% coverage with comprehensive edge case tests
  .coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_multi_stimulator.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

chore(coverage): Update coverage threshold to 32.85%
  .coveragerc
  src/ethoscope/ethoscope/tests/unittests/test_img_roi_builder.py
  src/ethoscope/ethoscope/tests/unittests/test_utils.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

test(scheduler): Achieve 94.41% coverage with comprehensive edge case tests
  src/ethoscope/ethoscope/tests/unittests/test_scheduler_timing.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$
