Repository gilestrolab/ethoscope: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-check-syntax, python-import-check, validate-cross-package-imports

python-check-syntax:
  name: Check Python syntax
  entry: python
  language: system
  args:
  - -m
  - py_compile

python-import-check:
  name: Check Python imports (requires venv)
  entry: bash
  language: system
  args:
  - -c
  ...

validate-cross-package-imports:
  name: Validate no cross-package imports (maintain package independence)
  entry: bash
  language: system
  args:
  - -c
  ...

feat(metadata): record whether a stimulator module was attached
  src/ethoscope/ethoscope/control/tracking.py
  src/ethoscope/ethoscope/tests/unit/test_acquisition_metadata.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(device): stop a silent listener from wedging the device web server
  src/ethoscope/ethoscope/tests/unit/test_ethoclient_timeout.py
  src/ethoscope/scripts/device_listener.py
  src/ethoscope/scripts/device_server.py
  src/ethoscope/scripts/ethoclient.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(node): put device logs back in the bug report and quiet the journal
  src/node/ethoscope_node/api/bugreport_api.py
  src/node/ethoscope_node/backup/helpers.py
  src/node/ethoscope_node/scanner/ethoscope_scanner.py
  src/node/tests/unit/api/test_bugreport_api.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(device): write the last buffered rows of every SQLite recording at stop
  src/ethoscope/ethoscope/io/base.py
  src/ethoscope/ethoscope/io/sqlite.py
  src/ethoscope/ethoscope/tests/unittests/test_sqlite_writer.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

adds minimal support for picamera v3 on cameras.py, adds the option to change bitrate
  src/ethoscope/ethoscope/hardware/input/cameras.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

fix(device): stop the GPIO button listener from pinning a CPU core
  src/ethoscope/ethoscope/hardware/interfaces/GPIO.py
  src/ethoscope/ethoscope/tests/unit/test_gpio_buttons.py
Due: python-check-syntax, python-import-check, validate-cross-package-imports

feat(dl_tracking): data pipeline for a learned per-tube fly locator
  dl_tracking/__init__.py
  dl_tracking/census.py
  dl_tracking/dataset.py
  dl_tracking/db_io.py
  dl_tracking/extract.py
  dl_tracking/labels.py
  dl_tracking/preprocess.py
  dl_tracking/qa.py
  dl_tracking/select_runs.py
  dl_tracking/tests/__init__.py
  dl_tracking/tests/conftest.py
  dl_tracking/tests/test_dataset.py
  dl_tracking/tests/test_db_io.py
  dl_tracking/tests/test_extract.py
  dl_tracking/tests/test_labels.py
  dl_tracking/tests/test_select_runs.py
  tasks/todo.dl-tracking.md
  tasks/todo.md
Due: python-check-syntax

feat(dl_tracking): locator network, training, ONNX export and video evaluation
  dl_tracking/evaluate.py
  dl_tracking/export.py
  dl_tracking/model.py
  dl_tracking/run_video.py
  dl_tracking/tests/test_evaluate.py
  dl_tracking/tests/test_model.py
  dl_tracking/train.py
Due: python-check-syntax

feat(dl_tracking): review page that shows only crops needing a human
  dl_tracking/README.md
  dl_tracking/review/__init__.py
  dl_tracking/review/page.html
  dl_tracking/review/queue.py
  dl_tracking/review/server.py
  dl_tracking/tests/test_review.py
Due: python-check-syntax

fix(dl_tracking): read both selected_options formats; flag runs with dark nights
  dl_tracking/db_io.py
  dl_tracking/flag_no_ir.py
  dl_tracking/select_runs.py
  dl_tracking/tests/test_db_io.py
  dl_tracking/tests/test_flag_no_ir.py
  dl_tracking/tests/test_model.py
  tasks/todo.dl-tracking.md
Due: python-check-syntax

fix(dl_tracking): flag runs by the picamera2 tuning bug, not by brightness
  dl_tracking/flag_no_ir.py
  dl_tracking/tests/test_flag_no_ir.py
  tasks/todo.dl-tracking.md
Due: python-check-syntax

fix(dl_tracking): extraction survives missing ROI tables and interrupted writes
  dl_tracking/extract.py
  dl_tracking/tests/test_extract.py
  dl_tracking/train.py
Due: python-check-syntax

fix(dl_tracking): swap gain match that cannot fail; one thread per loader worker
  dl_tracking/dataset.py
  dl_tracking/tests/test_dataset.py
  dl_tracking/train.py
Due: python-check-syntax

docs(tasks): dl-tracking progress: data packed, review open, v1 training
  tasks/todo.dl-tracking.md
Due: none

fix(dl_tracking): drop gap-fill labels and flat canvases from training
  dl_tracking/dataset.py
  dl_tracking/tests/test_dataset.py
  dl_tracking/train.py
Due: python-check-syntax

feat(dl_tracking): Pi benchmark of the locator's full device path
  dl_tracking/pi_bench.py
Due: python-check-syntax

fix(dl_tracking): decode continuously across heatmap cell boundaries
  dl_tracking/preprocess.py
  dl_tracking/tests/test_model.py
Due: python-check-syntax

feat(dl_tracking): score several models per decode; evaluate long videos in segments
  dl_tracking/evaluate.py
  dl_tracking/run_video.py
  dl_tracking/tests/test_evaluate.py
Due: python-check-syntax

docs(tasks): dl-tracking v2 results, gap-fill and cell-flip findings
  tasks/todo.dl-tracking.md
Due: none

fix(dl_tracking): score the locator's track only where it reports a fly
  dl_tracking/evaluate.py
  dl_tracking/tests/test_evaluate.py
Due: python-check-syntax

docs(tasks): dl-tracking e044 results and the tube-end detection gap
  tasks/todo.dl-tracking.md
Due: none

feat(dl_tracking): round-2 review of crops AdaptiveBGModel missed
  dl_tracking/review/page.html
  dl_tracking/review/queue.py
Due: python-check-syntax

feat(dl_tracking): train and test on the human review answers
  dl_tracking/dataset.py
  dl_tracking/review/ingest.py
  dl_tracking/tests/test_review.py
  dl_tracking/train.py
Due: python-check-syntax

docs(tasks): dl-tracking round-2 review and the post-review steps
  tasks/todo.dl-tracking.md
Due: none

perf(dl_tracking): Pi-oriented model variants and a cheaper normalisation
  dl_tracking/model.py
  dl_tracking/preprocess.py
  dl_tracking/tests/test_model.py
Due: python-check-syntax

fix(dl_tracking): wire the --human option; test the training CLI end to end
  dl_tracking/tests/test_dataset.py
  dl_tracking/train.py
Due: python-check-syntax

perf(dl_tracking): index the 8 neighbours directly in decode
  dl_tracking/preprocess.py
Due: python-check-syntax

docs(tasks): dl-tracking Pi 3 timings and the architecture choice
  tasks/todo.dl-tracking.md
Due: none

feat(dl_tracking): propagate dead-fly and empty-tube answers; weight human labels
  dl_tracking/review/ingest.py
  dl_tracking/tests/test_review.py
  dl_tracking/train.py
Due: python-check-syntax

docs(tasks): dl-tracking review results and v3
  tasks/todo.dl-tracking.md
Due: none

feat(dl_tracking): Pi soak test of the locator's device path
  dl_tracking/pi_soak.py
Due: python-check-syntax

feat(dl_tracking): round-3 review of never-detected tubes; soak logs the real clock
  dl_tracking/pi_soak.py
  dl_tracking/review/ingest.py
  dl_tracking/review/page.html
  dl_tracking/review/queue.py
  dl_tracking/tests/test_review.py
Due: python-check-syntax

docs(tasks): dl-tracking empty-tube results, round 3 and the soak test
  tasks/todo.dl-tracking.md
Due: none

docs(tasks): dl-tracking tiny_s2_v3 video results; it is the candidate
  tasks/todo.dl-tracking.md
Due: none

fix(dl_tracking): presence head that OpenCV 4.7 can run; per-device parity check
  dl_tracking/model.py
  dl_tracking/pi_parity.py
Due: python-check-syntax

docs(tasks): dl-tracking round 3 and the production-fleet tests
  tasks/todo.dl-tracking.md
Due: none

fix(dl_tracking): train offsets at every cell around the fly
  dl_tracking/dataset.py
  dl_tracking/tests/test_dataset.py
  dl_tracking/train.py
Due: python-check-syntax

fix(dl_tracking): finite size and angle targets for click labels
  dl_tracking/dataset.py
  dl_tracking/tests/test_dataset.py
Due: python-check-syntax

docs(tasks): dl-tracking device-integration constraints from the fleet tests
  tasks/todo.dl-tracking.md
Due: none

feat(dl_tracking): score sleep against pixel truth
  dl_tracking/evaluate.py
  dl_tracking/tests/test_evaluate.py
Due: python-check-syntax

Path conditions:
  python-check-syntax: any of: \.py$
  python-import-check: any of: ^(src/|scripts/).*\.py$
  validate-cross-package-imports: any of: ^src/.*\.(py|toml)$
